<%= form_for([@project, @flow]) do |f| %>
  <% if @flow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flow.errors.count, "error") %> prohibited this flow from being saved:</h2>

      <ul>
      <% @flow.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :project_id %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %> | <%= link_to "Cancel", @project %>
  </div>
<% end %>
