<h2><%= @feature.name %></h2>

<h4>
  <%= @flow.name %>
  <% if can? :edit, @flow %>
    <span class="inline_edit">
    <%= link_to 'Edit', edit_project_feature_flow_path(@project, @feature, @flow) %> |
    <%= link_to 'Delete', [@project, @feature, @flow], :method => :delete,
      :confirm => "Are you sure you want to delete this flow?" %>
    </span>
  <% end %>
</h4>

<p class="description">
  <%= @flow.description %>
</p>

<% if @flow.screens.any? %>
  <ul class="screens clearfix">
    <%= render @flow.screens %>
  </ul>
<% else %>
  <p>
    There are no screens for this user flow yet.
  </p>
<% end %>

<% if can? :edit, @flow %>
<div class="actions">
<%= link_to "Add new screen",
  new_project_feature_flow_screen_path(@project, @feature, @flow)
 %>
</div>
<% end %>