<h2><%= link_to @flow.project.name, @flow.project %></h2>

<h3>
  <%= @flow.name %>
  <%= link_to '(Edit)', edit_project_flow_path(@flow.project, @flow), :class => "inline_edit" %>
</h3>

<p class="description">
  <%= @flow.description %>
</p>

<% if @flow.screens.any? %>
  <ul class="screens clearfix">
    <%= render @flow.screens %>
  </ul>
<% end %>

<div class="actions">
<%= link_to "Add new screen",
  new_project_flow_screen_path(@flow.project, @flow)
 %>
</div>
