<h2><%= link_to @project.name, @project %></h2>

<h3><%= @feature.name %></h3>

<h4>
  <%= @flow.name %>
  <%= link_to '(Edit)', edit_project_feature_flow_path(@project, @feature, @flow), :class => "inline_edit" %>
</h4>

<p class="description">
  <%= @flow.description %>
</p>

<% if @flow.screens.any? %>
  <ul class="screens clearfix">
    <%= render @flow.screens %>
  </ul>
<% end %>

<div class="actions">
<%= link_to "Add new screen",
  new_project_feature_flow_screen_path(@project, @feature, @flow)
 %>
</div>
