<%= form_for(@project) do |f| %>
  <%= render :partial => "shared/form_errors",
    :locals => { :object => @project } %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "first_input name" %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :class => 'description' %>
  </div>
  <div class="actions">
    <%= f.submit %> | <%= link_to "Cancel", @project %>
  </div>
<% end %>
