<div class="project_controls">
  <%= link_to 'Edit', edit_project_path(@project) %>
</div>

<h2><%= @project.name %></h2>

<p class="description">
  <%= @project.description %>
</p>

<% if @project.features.any? %>
  <h3>Features</h3>

  <ul id="features">
    <%= render @project.features %>
  </ul>
<% end %>

<p>
  <%= link_to "Add feature", new_project_feature_path(@project.id) %>
</p>
