<h2>
  <%= @feature.name %>
  <% if can? :edit, @feature %>
    <%= link_to '(Edit)', edit_project_feature_path(@project, @feature), :class => "inline_edit" %>
  <% end %>
</h2>

<p class="description">
  <%= @feature.description %>
</p>

<% if @feature.flows.any? %>
  <ul class="flows clearfix">
    <%= render @feature.flows %>
  </ul>
<% end %>

<% if can? :edit, @feature %>
  <div class="actions">
  <%= link_to "Add new user flow",
    new_project_feature_flow_path(@project, @feature)
   %>
  </div>
<% end %>
