<h2>
  <%= @feature.name %>
  <% if can? :edit, @feature %>
    <span class="inline_edit">
    <%= link_to 'Edit', edit_project_feature_path(@project, @feature) %> |
    <%= link_to 'Delete', [@project, @feature],
      :method => :delete,
      :confirm => "Are you sure you want to delete this feature?" %>
    </span>
  <% end %>
</h2>

<p class="description">
  <%= @feature.description %>
</p>

<% if @feature.flows.any? %>
  <ul class="flows clearfix">
    <%= render @feature.flows %>
  </ul>
<% end %>

<% if can? :edit, @feature %>
  <div class="actions">
  <%= link_to "Add new user flow",
    new_project_feature_flow_path(@project, @feature)
   %>
  </div>
<% end %>
