<!DOCTYPE html>
<html>
<head>
  <title>UX Lab</title>
  <%= stylesheet_link_tag "reset", "uxlab" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= render "shared/header" %>

<div id="main">
  <%= render "shared/notices" %>
  <%= yield %>
</div>

</body>
</html>
