<!DOCTYPE html>
<html>
<head>
  <title>UX Lab</title>
  <%= stylesheet_link_tag "reset", "uxlab" %>
  <%= javascript_include_tag :defaults, 'livecss' %>
  <script>
  $(document).ready(function() {
    livecss.watchAll();
  });
  </script>
  <%= csrf_meta_tag %>
</head>
<body class="<%= body_class(controller) %>">

<div id="main">
  <%= render "shared/notices" %>
  <%= yield %>
</div>

</body>
</html>
